		body {
			color: #748CAB;
			background-attachment: fixed;
			margin: 0;
			background-color: #FFFFFA;
			
			}

		/* Style the tab */
		.tab {
			display: flex;
			align-items: center;
			justify-content: center;
			overflow: hidden;
			border: 1px solid #ccc;
			background-color: #f1f1f1;
			border-bottom: #080705 solid 1px;
		}

		.tablinks {
			display: inline-block;
			text-align: center;
		}

		/* Change background color of buttons on hover */
		.tab button:hover {
    	background-color: #ddd;
		}

		/* Create an active/current tablink class */
		.tab button.active {
		background-color: #ccc;
		}

		.tab button {
			background-color: inherit;
			float: left;
			border: none;
			outline: none;
			cursor: pointer;
			padding: 14px 16px;
			transition: 0.3s;
			font-size: 17px;
		}

		#menu ul {
			margin:0;
		}	

		#titre p {
			font-size: 3em;
			color: #912F40;
		}
		#titre #wrapper{
			display: flex;
			align-content: center;
			text-align: center;
		}
	
		a {
			color: rgb(170, 190, 65);
			}
		
		h1 {
			font-family: "Bank Gothic Light BT", Eurostile, Arial;
			font-size: 24px;
			color: rgb(170, 190, 65);
			}
		h2 {
			font-family: "Bank Gothic Light BT", Eurostile, Arial;
			font-size: 17px;
                        color: rgb(170, 190, 65);
			}
		h3 {
			font-family: "Bank Gothic Light BT", Eurostile, Arial;
			font-size: 14px;
            color: rgb(0, 0, 244);
            text-align:left;
			}
		

		/* Le titre dans l'en-tête */
		#titre-entete	{
			color: white;
			text-align: center;
			justify-content: center;
			font-size: 1.5em;
		}
			
		p {
			font-family: "Bank Gothic Light BT", Eurostile, Arial;
			font-size: 14px;
            color: black;
			text-align:left;
			margin: 0;
			}

		#tete {
			display: flex;
			align-items: center;
  			justify-content: center;
			background-color: #912F40;
		}

		#pied {

			background-color: #702632;
		}
			
		#tete, #tete td {
			width : 100%;
			height: 100px;
			}
		
		#pied, #pied td {
 			position:fixed;
   			bottom:0;
   			margin: 0px;
			width: 100%;
			height: 50px;
			}  

       /* #poneyRaces {
			width : 400px;
			margin: 0px;
			padding-top:100px;
			float:left;
			height:220px;
			text-align:center;
			}
		#poneyRaces p {
			font-family: "Times New Roman", Times;
			font-size: 13px;
			}
		#poneyIndividus {
			width : 400px;
			margin: 0px;
			padding-top:100px;
			float:left;
			height:220px;
			text-align:center;
			}
		#poneyIndividus p {
			font-family: "Times New Roman", Times;
			font-size: 13px;
			}
                
        #poneyliste {
        height:220px;
        padding-top:120px;
			font-family: "Times New Roman", Times;
			font-size: 16px;
			color: rgb(0, 0, 244);
			} */
		